.avto{
    white-space: normal;
}

.training {
    border-bottom: dotted 1px #bbb;
    overflow: hidden;
    margin-bottom: 10px;
}
.training img {
    width: 150px;
    float: left;
    margin: 0 10px 10px 0;
}
img{
    border:none;
}
h2 {
    font-size: 16px;
    line-height: 1.5em;
    white-space: nowrap;
}
p{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@media only screen and (max-width: 992px) {
.avto, .training {
	border-radius: 5px;
	border: 1px solid #129d52;
	margin: 3px auto;
	width: 950;
	height: 110px;
}	
}





