body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #fff;
}
.div {
        margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: "Gotham";
    vertical-align: baseline;
    display: block;
}
.row {
    margin-right: -10px;
    margin-left: 0px;
}
.row:before {
        display: table;
    content: " ";
}
.row:after { 
    clear: both;
        display: table;
    content: " ";
}
a {
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
}
.btn-mdd {
    width: 250px;
    height: 55px;
    background: rgb(134, 81, 204);
    border: none;
    border-radius: 15px;
    color: #fff;
    font-family: "Gotham-Bold";
    font-size: 18px;
    margin-top: 40px;
}
.md-box {
    margin-bottom: 20px;
    background: yellow;
    border-radius: 10px;
    padding: 20px;
}
.title-md {
    font-size: 26px;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.col-xs-1, .col-sm-1 {
    width: 100%;
        
        position: relative;
    min-height: 10px;
    padding-right: 10px;
    padding-left: 0px;
}
@media (max-width: 1160px) {

	.container {
		width: 100%;
	}
	.col-4 {
		width: 100%;
		margin: 0;
		margin-bottom: 30px;
		padding-left: 15px;
		padding-right: 15px;
		text-align: center;

	}
}